<head>
    <title>Ben Clark</title>
    <link rel="stylesheet" href="../content/stylesheets/materialize.min.css">
    <link rel="stylesheet" href="../content/stylesheets/resume.css">
</head>

<body>
    <div class="container">
        <h1>Ben Clark</h1>
        <p class="margin-bottom-5"><em>A high-performing developer striving to make a positive impact by implementing simple, maintainable solutions providing for intuitive user experiences. Experienced in aviation, finance, health, and logistics.</em></p> 

        <h3>Experience</h3>
        <div class="company">
            <span class="company-name">Battelle</span>
            <span class="town-name">Columbus, Ohio</span>
            <div class="position">
                <span class="position-name">Web Developer</span> 
                <span class="date-range">September 2019 to Present</span>
                <p>Architecting web applications used to manage the testing and maintenance of airport security hardware. Creating a data warehouse for client document storage and tagging. Managing the development process from whiteboard to client delivery. Mentoring junior developers in web development. Pushing to implement changes to foster efficiency and focus on effectiveness in the development process. Obtained security clearance and maintained confidential material.</p>
            </div>
        </div>

        <div class="company">
            <span class="company-name">Dayton Freight</span> 
            <span class="town-name">Dayton, Ohio</span>
            <div class="position">
                <span class="position-name">Software Developer</span>
                <span class="date-range">November 2017 to August 2019</span>
                <p>Designed, developed, maintained, and enhanced several web solutions used to meet the business requirements of a large-scale freight shipping firm. Aided in peer-reviewed code protocol. Pushed to implement changes in Agile practices with a focus on maximizing output and accuracy. Pushed to optimize end user experiences through the careful consideration of user stories. Supported internal and external customers via a helpdesk ticketing platform.</p>
            </div>
        </div>

        <div class="company">
            <span class="company-name">IHS Markit</span> 
            <span class="town-name">Boulder, Colorado</span>

            <div class="position">
                <span class="position-name">Web Applications Developer</span> 
                <span class="date-range">October 2015 to November 2017</span>
                <p>Developed and maintained a first-class, high-traffic financial research platform used by teachers and public servants to manage their retirement accounts. Supported new and legacy code bases while balancing project priorities. Worked with clients, project managers, engineering teams, and quality assurance analysts to ensure delivery of a top-quality end product. Mentored an intern. Created documentation for the maintenance of a suite of applications.</p>
            </div>
            
            <div class="position">
                <span class="position-name">Quality Assurance Analyst</span>
                <span class="date-range">May 2013 to October 2015</span>
                <p>Maintained QA processes on several domestic and international finance applications on desktop and mobile devices. Created and implemented automated test suites for multiple projects. Reported and tracked defects across every part of the development lifecycle. Collaborated with internal and external teams to ensure the quality of projects pushed to production.</p>
            </div>
        </div>

        <div class="company">
            <span class="company-name">Disruptive Ventures</span>
            <span class="town-name">Warsaw, Indiana</span>
            <div class="position">
                <span class="position-name">Web Developer</span> 
                <span class="date-range">January 2011 to December 2011</span>
                <p>Developed and maintained a content publishing platform in Ruby on Rails. Proofread content.</p>
            </div>
        </div>

        <h3>Education</h2>
        <div class="degree">
            <span class="school-name">Sinclair Community College</span> 
            <span class="town-name">Dayton, Ohio</span>
            <span class="degree-name">Associates of the Arts, Math.</span>
            <span class="date-range">In Progress</span>
            <p>Accomplishments: Dean&#39;s List, GPA 4.0</p>
        </div>

        <div class="degree">
            <span class="school-name">Grace College</span>
            <span class="town-name">Winona Lake, Indiana</span>
            <span class="degree-name">Bachelors of the Arts, English.</span>
            <span class="date-range">2008 to 2011</span>
            <p>Activities: Writing Tutor, School Newspaper</p>
        </div>

        <h3>Exposure</h2>
        <p class="margin-bottom-5">Agile, Angular, API Development, AWS, Bootstrap, C#, Git, JavaScript, jQuery, Materialize, MongoDB, .NET Core, .NET Framework, QA, React, SQL, TypeScript, UI/UX design, Vue</p>

        <h3>Foreign Languages</h2>
        <p class="margin-bottom-5">Spanish (Intermediate), German (Beginner)</p>
    </div>

    <script src="./content/scripts/jquery-3.5.1.min.js"></script>
    <script src="./content/scripts/materialize.min.js"></script>
    <script src="./content/scripts/init.js"></script>
</body>